input, select, button{
    padding: 10px;
    margin: 5px;
    color: aquamarine;
    }
    .buton1{
    
    
        cborder-radius: 15px;
        background-color: blanchedalmond;
        padding: 10px 20px;
        color: blueviolet;
        text-align: end;
    }
    .tituli1{
        color: blue;
    }